@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.atc_btn {
    padding: 16px 32px;
    background-color: green;
    color: white;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: .1s all;
    border-radius: 4px;
    width: 100%;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.atc_btn:hover {
    background-color: rgb(0, 167, 42);
}